.body {
    background-color: #E8F6F6;
    font-family: "Lucida Console", "Courier New", monospace;
}

.button {
    padding: 10px;
    align-items: center;
} 

#note{
    font: white, 1.2em, "Lucida Console";
}

#submit-answer, #generate-question{
    padding: 10px;
    background-color: #00B2EA; 
}


#copyright {
    color: rgba(255, 255, 255, 0.4);
    font-size: 1vh;
    position: absolute;
    bottom: -1.5ch;
    right: 0;
    padding-right: 5px;
    padding-bottom: 3px;
    font-family: "Nunito";
}